.DetailsHeader {
  align-items: center;
  color: #222;
  display: flex;
  margin: 0 0 20px;
}

.DetailsHeader img {
  height: 45px;
  width: 45px;
  border-radius: 5px;
}

.DetailsHeader h1 {
  margin-left: 10px;
}
